.sidebar_nav {
  transform: translateX(-0%);
  height: calc(100vh - 80px);
  overflow-y: auto;
  scrollbar-width: thin;
  transition: all 0.25s;
  position: fixed;
  padding-right: 10px;
  z-index: 15;

  .sidebar_nav_container {
    min-width: 220px;
    background: #fefefe;
    width: 220px;
    min-height: 100%;
    padding-bottom: 20px;
    position: relative;
    z-index: 15;
    ul {
      width: 100%;
      list-style: none;
      padding: 12px 0;
      border-bottom: 1px solid $light_white;
      &:nth-of-type(1) {
        padding-top: 0px !important;
      }
      &:last-child {
        border: unset !important;
      }
      .sidebar_nav_title {
        font-size: 1rem;
        color: #606060;
        text-transform: uppercase;
        letter-spacing: 1px;
        padding: 12px 0;
        padding-left: 20px;
      }
      li {
        width: 100%;

        a {
          padding: 8px 18px;
          display: flex;
          align-items: center;
          gap: 0 16px;
          color: #0f0f0f;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          line-height: 2rem;
          font-weight: 400;
          font-size: $font_base;
          flex: 1;
          flex-basis: 0%;
          flex-basis: 0.000000001px;

          &:hover {
            background: $light_white;
          }
          &:focus {
            background: $light_white;
          }

          img {
            width: 25px;
            height: 25px;
            object-fit: cover;
          }
          .icon {
            font-size: 25px;
          }

          .chevron_right {
            margin-left: auto;
            font-size: $font_xs;
          }
        }
        a.active {
          font-weight: 500;
          outline: 2px solid #99999918;
          background: $light_white;
        }
      }

      li.dropdown {
        position: relative;
        ul {
          position: absolute;
          top: 0%;
          left: 100%;
          background: $light_white;
          width: fit-content !important;
          z-index: 999;
          display: none;
          padding: 0px !important;
          border-radius: 0 5px 5px 0px;
          overflow: hidden;
          box-shadow: 5px 0 5px 0 #55555550;
          li {
            a {
              padding: 6px 18px;
              &:hover {
                background: #fff;
              }
            }
          }
        }
        &:hover {
          ul {
            display: block;
          }
        }
      }
    }
  }
}

.sidebar_nav.toggle_sidebar_nav {
  .sidebar_nav_container {
    ul {
      display: unset;
      li {
        a {
          position: relative;
          .chevron_right {
            position: absolute;
            top: 0;
            bottom: 0;
            right: 5px;
            height: 100%;
            display: flex;
            align-items: center;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1023px) {
  .sidebar_nav_overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    top: $header_height;
    left: 0;
    background: #00000050;
    z-index: 9;
    display: none;
  }

  .sidebar_nav {
    position: fixed !important;
    top: $header_height;
    left: 0;
    transform: translateX(-100%);
  }

  .sidebar_nav.toggle_sidebar_nav {
    transform: translateX(0%);
  }
}

@media only screen and (min-width: 1024px) {
  .sidebar_nav.toggle_sidebar_nav {
    .sidebar_nav_container {
      min-width: unset;
      max-width: 150px;
      width: 100px;
      ul {
        .sidebar_nav_title {
          display: none !important;
        }
        li {
          a {
            flex-direction: column !important;
            font-size: 12px;
            gap: 0px;
            img {
              margin-bottom: -5px;
            }
            small {
              margin-top: -5px;
            }
          }
        }
      }
    }
  }
}
